.image {
  height: 35.134em !important;
  width: 80%;
  padding-left: 11.3em;
  margin-top: 10px;
}

.para {
  height: 3.39em;
  width: 80%;
  padding-left: 10.3em;
  font-size: 1.4em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title {
  height: 2.39em;
  width: 80%;
  padding-left: 8.80em;
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.message {
  position: fixed;
  top: 12.54;
  left: 40%;
}
